{
  "presets": [
    ["@babel/preset-env", {
    "shippedProposals": true,
    "useBuiltIns": "usage",
    "targets": {
      "chrome": "59",
      "node": "8.2"
    }
  }],
  "@babel/preset-react"],
  "plugins": [
    "babel-plugin-styled-components",
    "@babel/plugin-proposal-class-properties"
  ]
}