{
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:require-path-exists/recommended"
  ],
  "plugins": [
    "require-path-exists"
  ],
  "rules": {
    "semi": 2,
    "comma-dangle": ["error", "never"],
    "indent": ["error", 2],
    "brace-style": ["error", "1tbs"],
    "comma-spacing": ["error", {
      "before": false,
      "after": true
    }],
    "func-call-spacing": ["error", "never"],
    "jsx-quotes": ["error", "prefer-double"],
    "key-spacing": ["error", {
      "beforeColon": false,
      "afterColon": true
    }],
    "keyword-spacing": ["error", {
      "before": true,
      "after": true
    }],
    "no-var": ["error"],
    "arrow-spacing": ["error", {
      "before": true,
      "after": true
    }],
    "react/no-did-mount-set-state": 2,
    "react/no-did-update-set-state": 2,
    "react/no-direct-mutation-state": 2,
    "react/jsx-uses-vars": 2,
    "react/no-unused-prop-types": 2,
    "no-unused-vars": [2, {
      "varsIgnorePattern": "React"
    }],
    "react/prop-types": 2,
    "react/jsx-no-bind": 2,
    "react/jsx-no-duplicate-props": 2,
    "space-before-blocks": 2,
    "space-before-function-paren": 2,
    "space-in-parens": 2,
    "space-infix-ops": 2,
    "space-unary-ops": 2,
    "spaced-comment": 2,
    "rest-spread-spacing": 2,
    "semi-spacing": 2,
    "no-unneeded-ternary": 2,
    "eqeqeq": 2,
    "dot-location": [2, "property"],
    "no-extra-bind": 2,
    "react/jsx-indent": [2, 2],
    "array-bracket-spacing": 2,
    "block-spacing": 2,
    "arrow-body-style": 2,
    "arrow-parens": 2,
    "react/self-closing-comp": 2,
    "object-curly-spacing": 2,
    "quotes": [2, "single"],
    "no-console": 2,
    "prefer-const": 2,
    "no-duplicate-imports": 2,
    "no-whitespace-before-property": 2,
    "no-useless-rename": 2,
    "no-unreachable": 2,
    "camelcase": 2,
    "no-multiple-empty-lines": ["error", { "max": 1 }]
  }
}
